*{
 margin:0;
 padding:0;
 -moz-box-sizing:border-box;
 -webkit-box-sizing: border-box;
			box-sizing: border-box;
}
html {
			min-height: 100%;
			_height:100%;
			height:100%;
	}
body {
 min-height: 100%;
 _height:100%;
 height:100%;
 /*background: #ff0000;*/
}
.container{
 margin:0px auto;
 display:table;
 background:green;
}
